div{
/* height: 100%; */
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HTML{ */
  /* height: 100%;
  width: 100%; */
  /* background-position: center; */
  /* background-repeat: repeat; */
  /* background-size: cover; */
  /* background-image: url('/Users/jacobknaust/my-projects-kenzie/react/github-cards/public/rainbow.jpg'); */
/* } */
body{
  line-height: 0.5;
}
